<div class="header-top">
  <div class="row">
    <div class="col text-right px-4">
      Sell on Shop
    </div>
  </div>
</div>
<div class="header-area">
  <div class="row">
    <div class="col-md-3 align-self-center">
      <a href="" routerLink="/">
        <h1 class="text-white">Shop</h1>
      </a>
    </div>
    <div class="col-md-6 p-3 align-self-center">

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="searchIcon" id="basic-addon1"> <i class="fa fa-search    "></i> </span>
        </div>



        <input [(ngModel)]="criteria" (keyup)="searchProduct($event)" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" type="text" class="form-control" placeholder="Search..." aria-label="Username"
          aria-describedby="basic-addon1">
        <div id="myDropdown" class="dropdown-menu">

          <ul class="searchResult p-2" *ngIf="product.data">

            <li *ngFor="let item of product.data" class="py-2 bBotline">
              <a [routerLink]="['/view', item.id]">
                <div class="d-flex">

                  <div class="flex-item">
                    <img width="40" height="40" src="{{ item.image}}" alt="">
                  </div>
                  <div class="flex-item">
                    {{item.name}}
                  </div>
                </div>
              </a>
            </li>

          </ul>
        </div>

      </div>


    </div>

    <div class="col-md-3 align-self-center text-right">

      <a routerLink="/cart" class="btn btn-success">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart
        <span class="cartNumber "> {{ cartCount }}</span>
      </a>
    </div>
  </div>
</div>
<div class="header-bot">
  <div class="row p-4">
    <div class="col">

    </div>
  </div>
</div>
<router-outlet></router-outlet>
