<div class="row">
  <div class="col-md-2 p-0">
    <div class="sidebar-area p-5">
      <h1 class="text-white">Shop</h1>

      <div
        class="nav flex-column nav-pills mt-5"
        id="v-pills-tab"
        role="tablist"
        aria-orientation="vertical"
      >
        <a
          class="nav-link active"
          data-toggle="pill"
          href="#v-pills-product"
          role="tab"
          aria-controls="v-pills-product"
          aria-selected="true"
          ><i class="fa fa-product-hunt" aria-hidden="true"></i> Product</a
        >

        <a
          class="nav-link"
          data-toggle="pill"
          href="#v-pills-order"
          role="tab"
          aria-controls="v-pills-order"
          aria-selected="true"
          ><i class="fa fa-shopping-bag" aria-hidden="true"></i> Order</a
        >
      </div>
    </div>
  </div>
  <div class="col-md-10 p-0">
    <div class="dashboard-header p-4 text-right">
      <a
        aria-label=""
        class="mr-2"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Seller
        <i class="fa fa-caret-down" aria-hidden="true"></i>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Profile</a>
        <a class="dropdown-item" href="#">Account</a>
      </div>
    </div>

    <div class="row p-4 justify-content-center">
      <div class="col-md-10">
        <div class="boxContainer">
          <div class="tab-content job-box p-3" id="v-pills-tabContent">
            <div
              class="tab-pane fade show active"
              id="v-pills-product"
              role="tabpanel"
            >
              <div class="box-header">
                Products
                <div class="box-action">
                  <button
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#modelId"
                  >
                    <i class="fa fa-product-hunt" aria-hidden="true"></i> Add
                    Product
                  </button>
                </div>
              </div>
              <div class="box-content">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Image</th>
                      <th>Name</th>
                      <th>Stocks</th>
                      <th>Sale Price</th>
                    </tr>
                  </thead>
                  <tbody *ngIf="products">
                    <tr *ngFor="let item of products; let i = index">
                      <td>{{ i }}</td>
                      <td>
                        <img
                          src="{{ item.image }}"
                          width="50"
                          height="50"
                          alt=""
                        />
                      </td>
                      <td>{{ item.name }}</td>
                      <td>{{ item.stock }}</td>
                      <td>{{ item.sale_price }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="tab-pane fade" id="v-pills-order" role="tabpanel">
              <div class="box-header">
                Order
              </div>
              <div class="box-content">
                sdf
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="modelId"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modelTitleId"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Product</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row p-0">
              <div class="col-md-8">
                <div class="card">
                  <div class="card-header">
                    <div class="card-title">Details</div>
                  </div>
                  <div class="card-body">
                    <div class="form-group">
                      <div class="row justify-content-center">
                        <div class="col-md-6">
                          <img
                            width="100%"
                            height="150"
                            src="{{ product.image }}"
                            alt=""
                          />
                          <br />

                          <input
                            type="file"
                            class="form-control-file"
                            (change)="onFileSelected($event)"
                            name="image"
                            id="image"
                            placeholder=""
                            aria-describedby="fileHelpId"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="py-2">
                      <input
                        type="text"
                        [(ngModel)]="product.name"
                        placeholder="Product Name"
                        name="name"
                        class="form-control"
                      />
                    </div>

                    <div class="py-2">
                      <editor
                        [(ngModel)]="product.description"
                        apiKey="eqmgsgwjv5wbypgtvzj2kypyzhmwyu52df9tq0ummn3eaxov"
                        [init]="{ plugins: 'link' }"
                      >
                      </editor>
                    </div>
                    <label for="">Tags</label>
                    <div class="form-group row">
                      <div class="col-md-5">
                        <input
                          type="text"
                          name="tag"
                          [(ngModel)]="product.tag"
                          class="form-control"
                        />
                      </div>
                      <div class="col-md-2"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card">
                  <div class="card-header">
                    <div class="card-title">Publish</div>
                  </div>
                  <div class="card-body">
                    <div class="form-group">
                      <label for="">Regular Price</label>
                      <input
                        type="text"
                        [(ngModel)]="product.regular_price"
                        name="regular_price"
                        class="form-control"
                      />
                    </div>
                    <div class="form-group">
                      <label for="">Sale Price</label>
                      <input
                        type="text"
                        [(ngModel)]="product.sale_price"
                        name="sale_price"
                        class="form-control"
                      />
                    </div>
                    <div class="form-group">
                      <label for="">Stocks</label>
                      <input
                        type="number"
                        name="stock"
                        [(ngModel)]="product.stock"
                        class="form-control"
                      />
                    </div>
                    <div class="form-group">
                      <label for="">Category</label>
                      <div class="form-group">
                        <label for=""></label>
                        <input
                          type="text"
                          class="form-control"
                          [(ngModel)]="product.category"
                          name="category"
                          id="cat_id"
                        />
                      </div>
                    </div>
                    <button
                      type="submit"
                      (click)="onSumbit()"
                      name="submit"
                      class="btn btn-primary pull-right"
                      data-dismiss="modal"
                    >
                      Publish
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
